
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner ">
        <div class="container" >
          <div class = 'brand pull-left'><%= link_to 'Philip Guston', '/home/index' %>
          </div>
          <div class="nav-collapse collapse ">
            <ul class="nav">
             
              <li><a href="/works#index">Works</a></li>
              <li><a href="/home/biography">Biography</a></li>
              <li><a href="#Exibitions">Exibitions</a></li>
              <li><a href="/home/foundation">Foundation</a></li>
            </ul>
            <%= form_tag request.path, :method => 'get', :class => 'navbar-search pull-left' do %>
              <%= text_field_tag :search, params[:search], :class => 'search-query', :placeholder => 'Search'%>
            <% end %> 
               
          </div><!--/.nav-collapse -->
        </div>

      </div>

    </div>

